@import url('https://fonts.googleapis.com/css?family=Kanit');

h1 {
  font-family: 'Kanit';
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}


h2 {
  font-family: 'Kanit';
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}

h3 {
  font-family: 'Kanit';
  font-size: 15px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-align: center;
}


h4 {
  font-family: 'Kanit';
  font-size: 15px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  
}